
a{  
    color: #FFD700;;
    padding: 0;
};
li:hover{
    cursor: pointer;
    background-color:  rgb(26, 26, 26);
    a{
        color: aliceblue;
        
    }
}
nav{
    background-color:#1d1d1d;
    padding: 0;
    height: 10vh;
    li{
        height: 100%;
    };
}