<div class="container mt-5">
    <!-- Banner Promo -->
    <section class="promo-section text-center p-5 text-white rounded">
      <h1>Benvenuto alla nostra Promozione!</h1>
      <p class="lead">Scopri le nostre offerte esclusive disponibili per un tempo limitato.</p>
    </section>
  
    <!-- Scopri Chi Siamo -->
    <section class="who-we-are-section my-5">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h2>Scopri Chi Siamo</h2>
          <p>
            Siamo un team dedicato a fornire i migliori servizi. La nostra missione è aiutare i clienti a raggiungere i loro obiettivi con soluzioni su misura.
          </p>
        </div>
        <div class="col-md-6">
          <img src="assets/who-we-are.jpg" alt="Chi Siamo" class="img-fluid rounded">
        </div>
      </div>
    </section>
  
    <!-- I Nostri Servizi -->
    <section class="services-section my-5">
      <h2 class="text-center">I Nostri Servizi</h2>
      <div class="row text-center mt-4">
        <div class="col-md-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Servizio 1</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et fugiat facere in officia cum facilis enim corporis, ex molestias perspiciatis minus reiciendis quos error unde neque saepe vitae quibusdam exercitationem!/p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Servizio 2</h5>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque nihil consequatur, quidem rem iure corrupti maxime libero molestias facilis molestiae quas architecto magni repellendus natus exercitationem temporibus nemo perferendis id?</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Servizio 3</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure distinctio ab sint. Iusto nisi nemo amet cupiditate laboriosam, porro natus adipisci molestiae voluptate necessitatibus deserunt minima quo laborum nam tenetur?</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  